/* ---- BASE ---- */
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", sans-serif;
}

h1 {
    font-family: "DM Sans", sans-serif;
    color: #D04F4F;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    padding:0;
}

/* ---- SEARCH ---- */
.fa-magnifying-glass {
    z-index:5;
}

/* ---- RECIPES ---- */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px; 
}

.card {
    min-width: 300px;
}

.card-text ul, .card-text p {
    font-size: 0.8em;
}

/* ---- FILTERS ---- */
.ingredients, .ingredients ul  {
    background-color: #3282F7;
}

.ustensils, .ustensils ul {
    background-color: #ED6454;
}

.appliances, .appliances ul {
    background-color: #68D9A4;
}

.filter {
    flex-basis:200px;
    position: relative;
    z-index: 2;
}

.filter input {
    width:100%;
}

.filter input::placeholder {
    color:white; 
    opacity: 0.8;
}

.filter__body {
    width: 650px;
}

.filter__list { 
    position: absolute;
    left:0;
    display: grid;
    grid-template-columns: auto auto auto;
    width:100%;
    gap: 5px 35px;
    overflow: auto;
    padding:20px;
    border-radius:8px;
    max-height:500px;
}