body {
    font-family: "Lato", sans-serif;
}

h1 {
    font-family: "DM Sans", sans-serif;
    color: #D04F4F;
} 

.card-description {
    font-family: "Roboto", sans-serif;
    /*white-space: nowrap; */
    overflow: hidden;
    height:155px;
    text-overflow: ellipsis;
    font-size:0.8em;
}

.card {
    width:30%;
    font-size:0.9em;
}


/*
vert: #68D9A4
rouge : #ED6454
bleu : #3282F7
gris clair :E7E7E7
gris foncé : #C7BEBE

Titre 36px;
Filtres+recherches LAto 18px
Filtre choisi 14px
Titre card : lato 18px
Text card : lato  12px
Description : Roboto 12px
*/
